<div class="m-5">
  <div class="d-flex justify-content-center p-3 mb-2 bg-info text-dark">
    <h1>Knihy</h1>
  </div>

<app-kniha-formular [kniha]="knihaNaUpravu!"
                    (pridajKnihu)="pridaj($event)"
                    (upravKnihu)="uprav($event)">
</app-kniha-formular>

<app-knihy-zoznam [knihy]="knihy"
                  (upravKnihu)="upravZoZoznamu($event)"
                  (zmazKnihu)="zmazZoZoznamu($event)">

</app-knihy-zoznam>

  <br>

  <div class="d-flex justify-content-center">
    <button class="m-2 btn-info btn-lg" (click)="chodSpat()">SPÄŤ</button>
  </div>
</div>
