
<button (click)="nastavMenu(menu.OSOBY);">OSOBY</button>
<button (click)="nastavMenu(menu.KNIHY);">KNIHY</button>
<button (click)="nastavMenu(menu.VYPOZICKY);">VYPOZICKY</button>

<div *ngIf="aktMenu == menu.OSOBY" >
  <h1>osoby</h1>
  <br>
  id: <input [(ngModel)]="osoba.o_id"><br>
  meno: <input [(ngModel)]="osoba.meno"><br>
  priezvisko: <input [(ngModel)]="osoba.priezvisko"><br>
  <button (click)="pridajOsobu();">pridaj</button><br>
  zoznam: <br>

  <table *ngIf="zobraz">
    <tr>
      <th>ID</th>
      <th>Meno</th>
      <th>Priezvisko</th>
    </tr>
    <tr *ngFor="let o of osoby">
      <td >{{o.o_id}}</td>
      <td >{{o.meno}}</td>
      <td>{{o.priezvisko}}</td>
    </tr>
  </table>

</div>

<!------------------------------------------------>

<div *ngIf="aktMenu == menu.KNIHY">
  <h1>knihy</h1>

  <br>
  id: <input [(ngModel)]="kniha.k_id"><br>
  nazov: <input [(ngModel)]="kniha.nazov"><br>
  autor: <input [(ngModel)]="kniha.autor"><br>
  pocet: <input [(ngModel)]="kniha.pocet"><br>
  <button (click)="pridajKnihu();">pridaj</button><br>
  zoznam: <br>

  <table *ngIf="zobraz">
    <tr>
      <th>ID</th>
      <th>Nazov</th>
      <th>Autor</th>
      <th>Pocet</th>
    </tr>
    <tr *ngFor="let k of knihy">
      <td >{{k.k_id}}</td>
      <td >{{k.nazov}}</td>
      <td>{{k.autor}}</td>
      <td>{{k.pocet}}</td>
    </tr>
  </table>
</div>

<!------------------------------------------------>

<div *ngIf="aktMenu == menu.VYPOZICKY">
  <h1>vypozicky</h1>
  <br>

  id: <input [(ngModel)]="vypozicka.v_id" placeholder="0"><br>
  kniha: <input [(ngModel)]="vypozicka.kniha" placeholder="Peter"><br>
  pouzivatel: <input [(ngModel)]="vypozicka.pouzivatel" placeholder="Petrov"><br>

  <br>
  <button (click)="pridajVypozicku();">pridaj</button><br>
  <br>
  zoznam:
  <br>
  <br>
  <table *ngIf="zobrazVypozicku">
    <tr>
      <th>ID</th>
      <th>Kniha</th>
      <th>Pouzivatel</th>
    </tr>
    <tr *ngFor="let v of vypozicky">
      <td >{{v.v_id}}</td>
      <td >{{v.kniha}}</td>
      <td>{{v.pouzivatel}}</td>
    </tr>
  </table>

</div>

