

<form [formGroup]="convertor">

  dec: <input type="number" formControlName="dec0" min="0" max="255" (change)="toBin()"> <br>
  <pre>bin: 128 64 32 16 8 4  2  1</pre>

  <div class="left">
  <input type="checkbox" formControlName="bin7" (change)="toDec()">
  <input type="checkbox" formControlName="bin6" (change)="toDec()">
  <input type="checkbox" formControlName="bin5" (change)="toDec()">
  <input type="checkbox" formControlName="bin4" (change)="toDec()">

  <input type="checkbox" formControlName="bin3" (change)="toDec()">
  <input type="checkbox" formControlName="bin2" (change)="toDec()">
  <input type="checkbox" formControlName="bin1" (change)="toDec()">
  <input type="checkbox" formControlName="bin0" (change)="toDec()">
  </div>
</form>
