<div class="d-flex justify-content-center m-5">
  <h1 class="m-4">Osoby - formular</h1>
</div>

<div class="d-flex justify-content-center m-5">


<form [formGroup]="form">
<div class="form-row flex-row-reverse">
  <label class="m-2">Meno:
    <input class="rounded shadow" formControlName="meno">
  </label>
  <br>
</div>
  <div class="form-row flex-row-reverse">
    <label class="m-2">Priezvisko:
      <input class="rounded shadow" formControlName="priezvisko">
    </label>
    <br>
  </div>

<div class="d-flex justify-content-center m-5 ">
  <button class="m-2 btn-info btn-lg" (click)="pridaj()" *ngIf="form.value.id === null">pridaj</button>
  <button class="m-2 btn-info btn-lg" (click)="uprav()" *ngIf="form.value.id !== null">uprav</button>
  <button class="m-2 btn-info btn-lg" (click)="zrus()">zrus</button>
</div>


</form>
</div>
