<h1>Osoby - formular</h1>

<form [formGroup]="form">


  <label>Meno:
    <input formControlName="meno">
  </label>
  <br>


  <label>Priezvisko:
    <input formControlName="priezvisko">
  </label>
  <br>

  <label for="file">
    Foto
    <input type="file" id="file" (change)="spracujSubor($event)">
  </label>

<!--
  <mat-form-field appearance="fill">
    <mat-label>Meno</mat-label>
    <input matInput formControlName="meno" placeholder="Zadaj meno...">
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Priezvisko</mat-label>
    <input matInput formControlName="priezvisko" placeholder="Zadaj priezvisko...">
  </mat-form-field>


<br>
--->
  <button (click)="pridaj()" *ngIf="form.value.id === null" [disabled]="!this.form.valid">pridaj</button>
  <button (click)="uprav()" *ngIf="form.value.id !== null" [disabled]="!this.form.valid">uprav</button>
  <button (click)="zrus()">zrus</button>

</form>
