<div class="m-5">
  <div class="d-flex justify-content-center">
    <h1>Vypozicky</h1>
  </div>

<app-vypozicka-formular [vypozicka]="vypozickaNaUpravu!"
                    (pridajVypozicku)="pridaj($event)"
                    (upravVypozicku)="uprav($event)">
</app-vypozicka-formular>

<app-vypozicky-zoznam [vypozicky]="vypozicky"
                  (upravVypozicku)="upravZoZoznamu($event)"
                  (zmazVypozicku)="zmazZoZoznamu($event)">

</app-vypozicky-zoznam>

<br>

<div class="d-flex justify-content-center">
  <button class="m-2 btn-warning" (click)="chodSpat()">SPÄŤ</button>
</div>

</div>
