<h1>Osoby - zoznam</h1>

<div *ngIf="!osoby || osoby?.length === 0">
  Zoznam osôb je prázdny.
</div>


<table class="table" *ngIf="osoby.length > 0">
  <thead>
  <tr>
    <th>Meno a priezvisko</th>
    <th>Kontakt</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let osoba of osoby">
    <td>{{ osoba.firstName }} {{osoba.lastName}}</td>
    <td>{{ osoba.contact }}</td>
    <td>
      <button (click)="uprav(osoba.id!)">Upraviť</button>
      <button (click)="zmaz(osoba.id!)">Zmazať</button>
    </td>
  </tr>
  </tbody>
</table>
