<div class="m-5">
<div class="d-flex justify-content-center">
  <h1 class="mb-5">Osoby - zoznam</h1>
</div>


<div class="d-flex justify-content-center" *ngIf="!osoby || osoby?.length === 0">
  Zoznam osôb je prázdny.
</div>

<table class="table table-striped container" *ngIf="osoby.length > 0">
  <thead>
  <tr>
    <th scope="col">Meno a priezvisko</th>
    <th scope="col">Kontakt</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let osoba of osoby">
    <td>{{ osoba.firstName }} {{osoba.lastName}}</td>
    <td>{{ osoba.contact }}</td>
    <td>
      <button class="m-2 btn-info btn-lg" (click)="uprav(osoba.id!)">Upraviť</button>
      <button class="m-2 btn-info btn-lg" (click)="zmaz(osoba.id!)">Zmazať</button>
    </td>
  </tr>
  </tbody>
</table>

</div>
