<h1 class="d-flex justify-content-center">Osoby</h1>

<app-osoba-formular [osoba]="osobaNaUpravu!"
                    (pridajOsobu)="pridaj($event)"
                    (upravOsobu)="uprav($event)">
</app-osoba-formular>

<app-osoby-zoznam [osoby]="osoby"
                  (upravOsobu)="upravZoZoznamu($event)"
                  (zmazOsobu)="zmazZoZoznamu($event)">

</app-osoby-zoznam>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary " (click)="chodSpat()">SPÄŤ</button>
</div>


