<div class="m-5">
<div class="d-flex justify-content-center p-3 mb-2 bg-info text-dark">
  <h1>Osoby</h1>
</div>


<app-osoba-formular [osoba]="osobaNaUpravu!"
                    (pridajOsobu)="pridaj($event)"
                    (upravOsobu)="uprav($event)">
</app-osoba-formular>

<app-osoby-zoznam [osoby]="osoby"
                  (upravOsobu)="upravZoZoznamu($event)"
                  (zmazOsobu)="zmazZoZoznamu($event)">

</app-osoby-zoznam>

<br>

<div class="d-flex justify-content-center">
  <button class="m-2 btn-info btn-lg" (click)="chodSpat()">SPÄŤ</button>
</div>


</div>
